<div class="panel panel-warning" style="margin-top:50px;">
  <div class="panel-heading">
    <h3>貨單</h3> 
  </div>
  <div class="panel-body">
    <table class="table table-bordered light">
  <thead>
    <tr>
      <th> 貨單編號 </th>
      <th> 貨品名稱 </th>
      <th> 規　　格 </th>
      <th> 數    量 </th>
      <th> 單位 </th>
      <th> 單    價 </th>
      <th> 小    計 </th>
      <th> 應付金額 </th>
      <th> 貨單附註 </th>
    </tr>
  </thead>
  <tbody>
        <% @bill.shipping_lists.each do |list| %>
          <% list.shipping_items.each do |item| %>
          <tr> 
            <td> <%= list.list_number if item == list.shipping_items.first %> </td>
            <td> <%= item.item_name.html_safe %> </td>
            <td> <%= item.spec.html_safe %> </td>
            <td> <%= item.amount %> </td>
            <td> <%= item.unit.html_safe %> </td>
            <td> <%= item.unit_price %> </td>
            <td> <%= item.sum_price %> </td>
            <td> <%= list.tax_price if item == list.shipping_items.last %> </td>
            <td> <%= list.note if item == list.shipping_items.first %> </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>     
</table> 

  </div>
  <div class="panel-footer">
    <div class="col-md-4">合計金額:  <%= render_price @bill.total_price %></div>
    <div class="col-md-4">折讓金額:</div>
    <div class="col-md-4">預 付 款: <%= render_price @bill.pre_paid %></div>
    <div class="col-md-4">營 業 稅:  <%= render_price @bill.tax %></div>
    <div class="col-md-4">已付金額:</div>
    <div class="col-md-4">前期應付:</div>
    <div class="col-md-4">總計金額:<%= render_price @bill.tax_price %></div>
    <div class="col-md-4">應付金額:<%= render_price @bill.tax_price %></div>
    <div class="col-md-4">總應付款: <%= render_price @bill.to_be_paid %> </div>
    <div class="clearfix"></div>
  </div>
</div>
