<div class="panel panel-warning">
  <div class="panel-heading">
    <h3>客戶資料 
      <%= link_to "修改" , edit_business_card_path( @card ) , :class=>"btn btn-success" %>
      <small style="margin-left:20px;">
        <%= link_to "刪除" , business_card_path( @card ) , :method => :delete , :data => { :confirm => "確定要刪除嗎?" } , :class => "text-danger" %>
      </small>
    </h3>    
  </div>
  <div class="panel-body">
    <table class="table table-bordered light">
      <tbody>        
        <tr>
          <td><%= @card.category_number %></td>
          <td><%= @card.category %></td>
        </tr>
        <tr>
          <td>公司名稱</td>
          <td><%= @card.company_name %></td>
        </tr>
        <tr>
          <td>姓名</td>
          <td><%= @card.name %></td>
        </tr>
        <tr>
          <td>職稱</td>
          <td><%= @card.title %></td>
        </tr>
        <tr>
          <td>電話</td>
          <td><%= @card.phone %></td>
        </tr>
        <tr>
          <td>傳真</td>
          <td><%= @card.tax_phone %></td>
        </tr>
        <tr>
          <td>手機</td>
          <td><%= @card.mobile_phone %></td>
        </tr>
        <tr>
          <td>地址</td>
          <td><%= @card.address %></td>
        </tr>
        <tr>
          <td>電子信箱</td>
          <td><%= @card.email %></td>
        </tr>
        <tr>
          <td>統編</td>
          <td><%= @card.vat_number %></td>
        </tr>
        <tr>
          <td>收到備註</td>
          <td><%= @card.note %></td>
        </tr>
        <tr>
          <td>建檔</td>
          <td><%= @card.old_created_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>