<div class="panel panel-warning" style="margin-top:50px;">
  <div class="panel-heading">
    <h3>客戶資料表</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered light">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>公司名稱</th>
            <th>姓名</th>
            <th>職稱</th>
            <th>電話</th>
            <th>傳真</th>
            <th>手機</th>
            <th>地址</th>
            <th>電子信箱</th>
            <th>統編</th>
            <th>收到備註</th>
            <th>建檔</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td> <%= @card.category_number %> </td>
              <td> <%= @card.category %> </td>
              <td> <%= @card.company_name %> </td>
              <td> <%= @card.name %> </td>
              <td> <%= @card.title %> </td>
              <td> <%= @card.phone %> </td>
              <td> <%= @card.tax_phone %> </td>
              <td> <%= @card.mobile_phone %> </td>
              <td> <%= @card.address %> </td>
              <td> <%= @card.email %> </td>
              <td> <%= @card.vat_number %> </td>
              <td> <%= @card.note %> </td>
              <td> <%= @card.old_created_at %> </td>
            </tr>
          
        </tbody>
        
      </table> 
    
  </div>
</div>