<div class="panel panel-warning">
  <div class="panel-heading">
    <h3>供應商資料 
      <%= link_to "修改" , edit_supplier_path( @supplier ) , :class=>"btn btn-success" %>
      <small style="margin-left:20px;">
        <%= link_to "刪除" , supplier_path( @supplier ) , :method => :delete , :data => { :confirm => "確定要刪除嗎?" } , :class => "text-danger" %>
      </small>
    </h3>    
  </div>
  <div class="panel-body">
    <table class="table table-bordered light">
      <tbody>
        <tr>
          <td>分類</td>
          <td><%= @supplier.category %></td>
        </tr>
        <tr>
          <td>廠商編號</td>
          <td><%= @supplier.company_number %></td>
        </tr>
        <tr>
          <td>廠商簡稱</td>
          <td><%= @supplier.company_brief_name %></td>
        </tr>
        <tr>
          <td>公司地址</td>
          <td><%= @supplier.address %></td>
        </tr>
        <tr>
          <td>電話</td>
          <td><%= @supplier.phone %></td>
        </tr>
        <tr>
          <td>統一編號</td>
          <td><%= @supplier.vat_number %></td>
        </tr>
        <tr>
          <td>聯 絡 人</td>
          <td><%= @supplier.contact %></td>
        </tr>
        <tr>
          <td>備註</td>
          <td><%= @supplier.note %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>