  <!-- Modified navbar: Animating from right to left (off canvas) -->
    <nav id="navbar2" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <%= link_to "舊ERP資料上傳" ,  root_path , :class=> "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav" id="side-menu" style="margin-bottom:15px;">
            <li class="text-center">
                <h4>
                    <%= current_user.try( :email )  %>
                </h4>
                <!-- /input-group -->
            </li>           
          </ul>         
            <div class="list-group" id="sidebar-list">
              <% if current_user %>
                <%= link_to "<i class='fa fa-user-plus fa-fw'></i> 客戶".html_safe , business_cards_path , :class => "list-group-item" %>
                <%= link_to "<i class='fa fa-truck fa-fw'></i> 供應商".html_safe , suppliers_path , :class => "list-group-item" %>
                <%= link_to "<i class='fa fa-users fa-fw'></i> 員工".html_safe , "#", :class => "list-group-item" %>
                <%= link_to "<i class='fa fa-shopping-basket fa-fw'></i> 毛料庫存".html_safe , "#" , :class => "list-group-item" %>
                <%= link_to "<i class='fa fa-dollar fa-fw'></i> 零用金".html_safe , pocket_cashes_path , :class => "list-group-item" %> 
                <%= link_to "<i class='fa fa-money fa-fw'></i> 應付帳款對帳單".html_safe , bills_path , :class => "list-group-item" %>
                <%#= link_to "<i class='fa fa-cloud-upload fa-fw'></i>客戶資料填寫".html_safe , customers_path %>                 
                <%= link_to "<i class='fa fa-sign-out fa-fw'></i> 登出".html_safe , destroy_user_session_path , :method => :delete , :class => "list-group-item" %>
              <% else %>
                <%= link_to "<i class='fa fa-sign-in fa-fw'></i> 登入".html_safe , new_user_session_path , :class => "list-group-item" %>
              <% end %>
            </div>          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>