<!DOCTYPE html>
<html>
<head>
  <title>舊ERP資料上傳</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => 'common/navbar' %>
    <div id="page-wrapper">
      <%= yield %>
    </div>
  </div>
</body>
</html>
