<!DOCTYPE html>
<html>
<head>
  <title>舊ERP資料上傳</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => 'common/navbar' %>
    <div id="page-wrapper">
      <%= yield %>
    </div>
  </div>
</body>

<script type="text/javascript">
  // $(document).ready(function(){
  //   var width = $(window).width();
  //   if ( width > 1024 ){      
  //     $('.navbar-collapse').addClass('in');
  //     $('.navbar-collapse').addClass('collapse');
  //     $('body').addClass('menu-slider');
  //     $('body').addClass('in');
  //   }
  // });
  (function ($) {   

    'use strict';

    // Toggle classes in body for syncing sliding animation with other elements
    $('#bs-example-navbar-collapse-2')
        .on('show.bs.collapse', function (e) {
            $('body').addClass('menu-slider');
        })
        .on('shown.bs.collapse', function (e) {
            $('body').addClass('in');
        })
        .on('hide.bs.collapse', function (e) {
            $('body').removeClass('menu-slider');
        })
        .on('hidden.bs.collapse', function (e) {
            $('body').removeClass('in');
        });

})(jQuery);

</script>
</html>
